* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
}

.container {
    width: 505px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    touch-action: none;
}
.controls{
    width: 100%;
    height: 200px;
}
.slider1Container{
    width: 100%;
    margin-top: 10px;
}

.slider2Container {
    width: 100%;
    margin-top: 10px;
   
}
.slider2Container {
    width: 100%;
}

.canvas1 {
    max-width: 100%;
    max-height: 100%;
}

label {
    color: white;
    margin-left: 20px;
    margin-right: 50px;
}

